.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/earth-tech.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  overflow: hidden;

  @include respond(phone-land) {
    padding: 6rem 0;
  }

  p {
    letter-spacing: 1.1px;

    &:nth-of-type(1) {
      color: $color-gray-light;
      font-style: italic;
      animation: fadeUp 0.7s ease-out 0.2s forwards;
    }
    &:nth-of-type(2) {
      color: $color-gray;
      animation: fadeUp 0.7s ease-out 0.4s forwards;

      @include respond(phone-port) {
        width: 75% !important;
      }
    }
  }

  .heading {
    color: $color-white;
    z-index: 1;
    animation: fadeUp 0.7s ease-out 0.3s forwards;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: linear-gradient(
        to right,
        $color-primary-dark,
        $color-black 60%
      );
      filter: blur(1rem);
    }
  }

  .cta-buttons {
    gap: 1.4rem;

    & > * {
      cursor: pointer;
      outline: none;
      background-color: transparent;
      border: 2px solid $color-primary;
      color: $color-primary;
      padding: 1rem;
      z-index: 1;
      transition: all 0.15s ease-out;

      &:not(:last-child):hover,
      &:not(:last-child):active {
        background-color: $color-primary;
        color: $color-white;
      }
    }

    &__download-cv {
      border-radius: 2rem;
      padding-left: 2.2rem;
      padding-right: 2.2rem;
      font-family: "Orbitron", sans-serif;
      font-weight: 700;
      animation: fadeUp 0.7s ease-out 0.5s forwards;
    }

    &__github,
    &__github-student {
      min-width: 3.25rem;
      min-height: 3.25rem;
      border-radius: 50%;
    }

    &__github {
      animation: fadeUp 0.7s ease-out 0.6s forwards;
    }

    &__github-student {
      border-color: $color-blue-light;
      color: $color-blue-light;
      animation: fadeUp 0.7s ease-out 0.7s forwards;

      &:hover,
      &:active {
        background-color: $color-blue-light;
        color: $color-white;
      }
    }
  }
}
