.contact-header {
  @include add-focus(contact);

  background-image: $darken-bg, url("../../assets/images/earth-tech-blue.jpg");
  @extend %header;

  @include respond(phone-land) {
    padding: 6rem 0;
  }

  .flex-container {
    gap: 1rem;
    z-index: 2;

    & > * {
      flex: 1 1 100%;
    }

    .main-content {
      .contact-heading {
        @extend %main-heading;
        animation: fadeUp $animation-delay-200;

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          z-index: -1;
          background: linear-gradient(
            to right,
            $color-secondary-dark,
            transparent 60%
          );
          filter: blur(1rem);
        }
      }

      .contact-details {
        gap: 2rem;

        @include respond(phone-port) {
          gap: 1rem;
        }

        & > * {
          display: flex;
          align-items: center;
          gap: 1.4rem;
        }

        &__item {
          &:nth-child(1) {
            animation: fadeUp $animation-delay-300;
          }
          &:nth-child(2) {
            animation: fadeUp $animation-delay-400;
          }

          &--icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-secondary-transparent-1;
            color: $color-white;
            border-radius: 1rem;
            width: 5.6rem;
            height: 5.6rem;
          }

          &--content {
            gap: 0.6rem;
            font-size: 1.4rem;
            letter-spacing: 1.1px;

            &--label {
              color: $color-gray;
            }
            &--text {
              color: $color-white;
            }
          }
        }
      }
    }

    .form-section {
      .contact-form {
        backdrop-filter: blur(1rem);
        border-radius: 2rem;
        animation: fadeUp $animation-delay-500;

        @include respond(phone-port) {
          width: 30.5rem;
        }

        &__label {
          color: $color-secondary-light;
          font-family: "Orbitron", sans-serif;
          font-size: 1.4rem;
          font-weight: 700;
        }

        &__input,
        &__textarea {
          background-color: $color-black;
          color: $color-white;
          border-radius: 1rem;
          padding: 0.8rem 1rem;
          font-size: 1.1rem;
          border-color: $color-gray;
          letter-spacing: 1.1px;

          &::placeholder {
            color: $color-gray;
            letter-spacing: 1.1px;
          }
        }

        &__textarea {
          resize: none;
        }

        &__submit-btn {
          background-color: $color-secondary;
          font-size: 1.2rem;
          color: $color-black;
          padding: 0 2rem;
          font-family: "Orbitron", sans-serif;
          font-weight: 700;
          border: none;
          border-radius: 2rem;
          transition: color 0.25s ease-out;

          &:hover,
          &:active {
            color: $color-white;
          }
        }
      }
    }
  }
}
