.homepage-header {
  background-image: $darken-bg, url("../../assets/images/earth-tech.jpg");
  @extend %header;

  @include respond(phone-land) {
    padding: 6rem 0;
  }

  .main-content {
    z-index: 2;

    p {
      letter-spacing: 1.1px;

      &:nth-of-type(1) {
        color: $color-primary-light;
        animation: fadeUp 0.7s ease-out 0.2s forwards;
      }
      &:nth-of-type(2) {
        color: $color-gray;
        animation: fadeUp 0.7s ease-out 0.4s forwards;

        @include respond(phone-port) {
          width: 75% !important;
        }
      }
    }

    .homepage-heading {
      @extend %main-heading;
      animation: fadeUp 0.7s ease-out 0.3s forwards;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background: linear-gradient(
          to right,
          $color-primary-dark,
          transparent 60%
        );
        filter: blur(1rem);
      }
    }

    .cta-buttons {
      gap: 1rem;

      & > * {
        cursor: pointer;
        outline: none;
        background-color: transparent;
        border: 2px solid $color-primary;
        color: $color-primary;
        padding: 1rem;
        z-index: 1;
        transition: all 0.15s ease-out;

        &:not(:last-child):hover,
        &:not(:last-child):active {
          background-color: $color-primary;
          color: $color-white;
        }
      }

      &__download-cv {
        border-radius: 2rem;
        padding-left: 2.2rem;
        padding-right: 2.2rem;
        font-family: "Orbitron", sans-serif;
        font-weight: 700;
        animation: fadeUp 0.7s ease-out 0.5s forwards;
      }

      &__github,
      &__github-student {
        min-width: 3.25rem;
        min-height: 3.25rem;
        border-radius: 50%;
      }

      &__github {
        animation: fadeUp 0.7s ease-out 0.6s forwards;
      }

      &__github-student {
        border-color: $color-secondary;
        color: $color-secondary;
        animation: fadeUp 0.7s ease-out 0.7s forwards;

        &:hover,
        &:active {
          background-color: $color-secondary;
          color: $color-white;
        }
      }
    }
  }
}
