.resume-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/earth-tech-blue.jpg");
  @extend %header;

  @include respond(phone-land) {
    padding: 6rem 0;
  }

  .container {
    z-index: 2;

    .resume-heading {
      color: $color-white;
      animation: fadeUp 0.7s ease-out 0.3s forwards;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background: linear-gradient(
          to right,
          $color-secondary-dark,
          transparent 60%
        );
        filter: blur(1rem);
      }
    }

    .resume-subtext {
      color: $color-gray;
      letter-spacing: 1.1px;
      animation: fadeUp 0.7s ease-out 0.4s forwards;

      &__highlight {
        color: $color-secondary;
      }
    }
  }
}

.typed-cursor {
  color: $color-white;
}
