.project-details-modal {
  background-color: $color-black;
  border-radius: 2rem;

  .modal-title {
    font-weight: 700;
    color: $color-primary;
  }

  h2 {
    color: $color-primary;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }

  .btn-close {
    filter: brightness(0) saturate(100%) invert(80%) sepia(78%) saturate(1119%)
      hue-rotate(322deg) brightness(105%) contrast(101%);
  }

  .project-modal {
    display: grid;
    grid-template-areas:
      "details details"
      "performance mockups"
      "technologies technologies"
      "links links";
    grid-auto-columns: 1fr;
    row-gap: 5rem;
    column-gap: 8rem;

    @include respond(tab-land) {
      grid-template-areas:
        "details"
        "performance"
        "mockups"
        "technologies"
        "links";
    }

    @include respond(phone-port) {
      gap: 6rem;
    }

    &__details {
      grid-area: details;

      &--title {
        font-weight: 700;
        color: $color-primary;
      }
      &--description {
        color: $color-white;
        font-size: 1.3rem;
        line-height: 2;
        letter-spacing: 1.1px;
      }
    }

    &__performances {
      #performances-chart {
        width: 100% !important;
      }
    }

    &__mockups {
      grid-area: mockups;

      img {
        width: 80%;

        @include respond(phone-port) {
          display: block;
          margin: 0 auto;
          width: 100%;
        }
      }
    }

    &__technologies {
      grid-area: technologies;

      &--icons {
        gap: 1.6rem;

        div {
          width: 8.2rem;
          background-color: $color-smoke-dark;
          padding: 1.4rem;
          border-radius: 1rem;
          color: $color-white;
          gap: 0.6rem;

          p {
            font-size: 1.2rem;
          }
        }
      }
    }

    &__cta-links {
      gap: 1rem;

      @include respond(phone-port) {
        gap: 1.2rem;
      }

      & > * {
        text-decoration: none;
        font-family: "Orbitron", sans-serif;
        font-size: 1.4rem;
        color: $color-primary;
        padding: 0.8rem 1.8rem;
        border-radius: 2rem;
        border: 2px solid $color-primary;
        background-color: transparent;
        font-weight: 700;
        transition: all 0.25s ease-out;

        &:active,
        &:hover {
          background-color: $color-primary;
          color: $color-white;
        }
      }
    }
  }
}
