.scroller {
  max-width: 100%;

  &[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      $color-white 20%,
      $color-white 80%,
      transparent
    );
    mask: linear-gradient(
      90deg,
      transparent,
      $color-white 20%,
      $color-white 80%,
      transparent
    );

    .scroller__inner {
      overflow: hidden;
      animation: scroll 30s linear infinite;
      width: fit-content;
    }
  }

  &__inner {
    overflow-x: scroll;
    gap: 1rem;

    &--icon {
      height: 6rem;
      background-color: $color-secondary-transparent;
      border-radius: 1rem;
      transition: background-color 0.25s ease-out;

      &:hover {
        cursor: pointer;
        background-color: $color-secondary-dark;
      }
    }
  }

  &__skills-details-btn {
    border: 2px solid $color-secondary;
    background-color: transparent;
    color: $color-secondary;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    max-width: 4rem;
    max-height: 4rem;
    transition: all 0.25s ease-out;

    &:active,
    &:hover {
      color: $color-white;
      background-color: $color-secondary;
    }
  }
}
