#skills-details-modal {
  .modal-content {
    position: relative;
    background-color: $color-black;
    border-radius: 2rem;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      border-radius: inherit;
      background-color: $color-secondary;
      filter: blur(1rem);
    }

    .modal-title {
      color: $color-white;
      font-weight: 700;
    }

    .btn-close {
      filter: brightness(0) saturate(100%) invert(71%) sepia(99%)
        saturate(1657%) hue-rotate(167deg) brightness(100%) contrast(103%);
    }

    .modal-body .lead {
      letter-spacing: 1.1px;
      color: $color-white;
    }

    .technologies-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(6.875rem, 1fr));
      gap: 3rem;

      .technology {
        height: fit-content;

        &__icon {
          height: 7rem;
        }

        &__name {
          font-weight: 700;
          color: $color-white;
          font-size: 1.2rem;
        }
      }
    }
  }
}
