.tippy-box {
  color: $color-black;
  padding: 0.5rem;
  font-weight: 800;
  font-family: "Orbitron", sans-serif;
}

.tippy-box[data-theme~="primary"] {
  background-color: $color-primary;
}

.tippy-box[data-theme~="primary"][data-placement^="bottom"]
  > .tippy-arrow::before {
  color: $color-primary;
}

.tippy-box[data-theme~="secondary"] {
  background-color: $color-secondary;
}

.tippy-box[data-theme~="secondary"][data-placement^="bottom"]
  > .tippy-arrow::before {
  color: $color-secondary;
}
