.fade-up-initial {
  transform: translateY(2rem);
  opacity: 0;
}

.fade-left-initial {
  transform: translateX(35%);
  opacity: 0;
}

@keyframes fadeUp {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeLeft {
  0% {
    transform: translateX(35%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
