$theme-colors: (
  homepage: $color-primary,
  resume: $color-blue-light,
  projects: $color-blue-light,
  contact: $color-primary,
);

@mixin respond($breakpoint) {
  @if $breakpoint == phone-port {
    @media only screen and (max-width: 36em) {
      @content;
    } // 576px
  }
  @if $breakpoint == phone-land {
    @media only screen and (max-width: 62em) and (orientation: landscape) {
      @content;
    } // <= 768px in landscape
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 48em) {
      @content;
    } // 768px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 62em) {
      @content;
    } // 992px
  }
  @if $breakpoint == desktop-small {
    @media only screen and (min-width: 75em) {
      @content;
    } // 1200px
  }
  @if $breakpoint == desktop-large {
    @media only screen and (min-width: 112.5em) {
      @content;
    } // 1800px
  }
}

@mixin navbar-theme($page) {
  $theme-color: map-get($theme-colors, $page);

  @if $theme-color == null {
    $theme-color: $color-primary;
  }

  .navbar__logo {
    span {
      color: $theme-color;
    }

    &:hover,
    &:active {
      color: $theme-color;
    }
  }

  .navbar__links {
    .hire-me-btn {
      background-color: $theme-color;

      &:hover,
      &:active {
        color: $color-white;
      }
    }

    &--link {
      &:hover,
      &:active {
        color: $theme-color;
      }

      &.active {
        color: $theme-color;
        border-bottom: 2px solid $theme-color;
      }
    }
  }
}

@mixin off-screen-nav($page) {
  $theme-color: map-get($theme-colors, $page);

  @if $theme-color == null {
    $theme-color: $color-primary;
  }

  background-color: $color-black;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;

  @include respond(tab-port) {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  @include respond(phone-port) {
    width: 75%;
  }

  &.active {
    transform: translateX(0);
    z-index: 3;
  }

  .off-screen-nav__close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    top: 2.8rem;
    right: 3rem;
    color: $color-white;
    font-size: 3rem;
    border-radius: 50%;

    @include respond(phone-port) {
      right: 0.8rem;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      border-radius: inherit;
      background-color: $theme-color;
      filter: blur(1rem);
    }
  }

  .off-screen-nav__links {
    & > *:not(:last-child) {
      margin-bottom: 3rem;
    }

    &--link {
      color: $theme-color;
      font-family: "Orbitron", sans-serif;
    }
  }
}
