$color-primary: #ffb428;
$color-primary-light: #ffc04a;
$color-primary-dark: #d18a06;
$color-secondary: #2cc3ff;
$color-secondary-light: #4bccff;
$color-secondary-dark: #0093cd;
$color-blue-dark: #0a0a56;
$color-white: #f5f5f5;
$color-black: #101010;
$color-gray: #919191;
$color-gray-light: #bdbdbd;
$color-gray-dark: #7a7a7a;

$darken-bg: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

$fs-large: 4.5rem;
$fs-medium: 4rem;
$fs-small: 3.5rem;
